useDynLib(sklarsomega)
S3method(residuals, sklarsomega)
S3method(summary, sklarsomega)
S3method(vcov, sklarsomega)
S3method(simulate, sklarsomega)
S3method(influence, sklarsomega)
S3method(logLik, sklarsomega)
S3method(nobs, sklarsomega)
export(sklars.omega)
export(pcat)
importFrom(LaplacesDemon, dlaplace, plaplace, qlaplace, dcat)
export(qcat)
export(baplot)
export(check.colnames)
export(build.R)
importFrom(graphics, abline, plot)
importFrom(utils, packageDescription)
importFrom(numDeriv, grad)
importFrom(spam, as.spam, solve.spam, determinant.spam)
importFrom(hash, hash, values)
importFrom(Matrix, bdiag)
importFrom(stats, complete.cases, cov, dbeta, dgamma, dnorm, dt,
           ecdf, median, optim, pbeta, pgamma, pnorm, pt, qnorm,
           sd, simulate, var, rnorm, qt, qbeta, qgamma, quantile,
           optimHess, influence, nobs)
